# Set strict-ssl to false to avoid SSL errors during package installation
strict-ssl=false

# Set progress to false to speed up installation
progress=false

# Set save to true to automatically save dependencies to package.json
save=true

# Set production to true to only install production dependencies
production=true
